

.player
    .normalPlayer
      position: fixed
      left: 0
      right: 0
      top: 0
      bottom: 0
      z-index: 150
      background: #222
      .background
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        z-index: -1
        opacity: 0.6
        filter: blur(20px)
      .top
          transform: translate3d(0, -100px, 0)
      .bottom
          transform: translate3d(0, 100px, 0)
      .top
        position: relative
        margin-bottom: 25px
        .back
          position absolute
          top: 0
          left: 6px
          z-index: 50
          .iconBack
            display: block
            padding: 9px
            font-size: 22px
            color: #ffcd32
            transform: rotate(-90deg)
        .title
          width: 70%
          margin: 0 auto
          line-height: 40px
          text-align: center
          text-overflow: ellipsis
          overflow: hidden
          white-space: nowrap
          font-size: 18px
          color: #fff
        .subtitle
          line-height: 20px
          text-align: center
          font-size: 14px
          color: #fff
      .middle
        position: fixed
        width: 100%
        top: 80px
        bottom: 170px
        white-space: nowrap
        font-size: 0
        .middleL
          display: inline-block
          vertical-align: top
          position: relative
          width: 100%
          height: 0
          padding-top: 80%
          .cdWrapper
            position: absolute
            left: 10%
            top: 0
            width: 80%
            box-sizing: border-box
            height: 100%
            .cd
              width: 100%
              height: 100%
              border-radius: 50%
              .image
                position: absolute
                left: 0
                top: 0
                width: 100%
                height: 100%
                box-sizing: border-box
                border-radius: 50%
                border: 10px solid rgba(255, 255, 255, 0.1)
              .play
                animation: rotate 20s linear infinite
          .playingLyricWrapper
            width: 80%
            margin: 30px auto 0 auto
            overflow: hidden
            text-align: center
            .playingLyric
              height: 20px
              line-height: 20px
              font-size: 14px
              color: #fff-l
        .middleR
          display: inline-block
          vertical-align: top
          width: 100%
          height: 100%
          overflow: hidden
          .lyricWrapper
            width: 80%
            margin: 0 auto
            overflow: hidden
            text-align: center
            .text
              line-height: 32px
              color: #fff
              font-size: 14px
              &.current
                color: #fff
            .pure-music
              padding-top: 50%
              line-height: 32px
              color: #fff-l
              font-size: 14px
      .bottom
        position: absolute
        bottom: 50px
        width: 100%
        .dotWrapper
          text-align: center
          font-size: 0
          .dot
            display: inline-block
            vertical-align: middle
            margin: 0 4px
            width: 8px
            height: 8px
            border-radius: 50%
            background: #fff-l
            &.active
              width: 20px
              border-radius: 5px
              background: #fff-ll
        .progressWrapper
          display: flex
          align-items: center
          width: 80%
          margin: 0px auto
          padding: 10px 0
          .time
            color: #fff
            font-size: 10px
            flex: 0 0 30px
            line-height: 30px
            width: 30px
            &.timeL
              text-align: left
            &.timeR
              text-align: right
          .progressBarWrapper
            flex: 1
        .operators
          display: flex
          align-items: center
          .icon
            flex: 1
            color: #ffcd32
            &.disable
              color: rgba(255, 205, 49, 0.5)
            i
              font-size: 30px
          .iLeft
            text-align: right
          .iCenter
            padding: 0 20px
            text-align: center
            i
              font-size: 40px
          .iRight
            text-align: left
          .iconFavorite
            color: #d93f30 
     
     
     
      
      
      &.normal-enter,&.normal-enter-active
        .top, .bottom
          transition: all 0.4s cubic-bezier(0.86, 0.18, 0.82, 1.32)
          transform: translate3d(0, 0, 0) 
      &.normal-enter-done
        .top, .bottom
          transform: translate3d(0, 0, 0) 
      &.normal-exit-active,&.normal-exit
        transition: all 0.4s
        opacity: 0
      &.normal-exit-done
        transition: all 0.4s
        .top
          transform: translate3d(0, -100px, 0)
        .bottom
          transform: translate3d(0, 100px, 0)   
    .miniPlayer
      display: flex
      align-items: center
      position: fixed
      left: 0
      bottom: 0
      z-index: 180
      width: 100%
      height: 60px
      background: #333
      opacity :0
      &.mini-enter,&.mini-enter-active
        opacity :1
        transition: all 0.4s
      &.mini-exit,&.mini-exit-active
        opacity: 0
      &.mini-enter-done
        opacity :1  
      .icon
        flex: 0 0 40px
        width: 40px
        height: 40px
        padding: 0 10px 0 20px
        .imgWrapper
          height: 100%
          width: 100%
          img
            border-radius: 50%
            &.play
              animation: rotate 10s linear infinite
            &.pause
              animation-play-state: paused
      .text
        display: flex
        flex-direction: column
        justify-content: center
        flex: 1
        line-height: 20px
        overflow: hidden
        .name
          margin-bottom: 2px
          text-overflow: ellipsis
          overflow: hidden
          white-space: nowrap
          font-size: 14px
          color: #fff
        .desc
          text-overflow: ellipsis
          overflow: hidden
          white-space: nowrap
          font-size: 10px
          color: #fff-d
      .control
        flex: 0 0 30px
        width: 30px
        padding: 0 10px
        .iconPlayMini, .iconPauseMini, .iconPlaylist
          font-size: 30px
          color: rgba(255, 205, 49, 0.5)
        .icon-mini
          font-size: 32px
          position: absolute
          left: 0
          top: 0

  
  
  
  
  
  @keyframes rotate
    0%
      transform: rotate(0)
    100%
      transform: rotate(360deg)


      
